{% load static %}
   <nav class="side-navbar">
      <div class="side-navbar-wrapper">
        <!-- Sidebar Header    -->
        <div class="sidenav-header d-flex align-items-center justify-content-center">
          <!-- User Info-->
          <div class="sidenav-header-inner text-center"><a href="/"><img src="{% static 'img/QA.jpg' %}" alt="person" class="img-fluid rounded-circle"></a>
            <h2 class="h5">{{ request.user }}</h2><span>Web Developer</span>
          </div>
          <!-- Small Brand information, appears on minimized sidebar-->
          <div class="sidenav-header-logo"><a href="/" class="brand-small text-center"> <strong>Q</strong><strong class="text-primary">A</strong></a></div>
        </div>
        <!-- Sidebar Navigation Menus-->
        <div class="main-menu">
          <h5 class="sidenav-heading">自動化測試</h5>
          <ul id="side-main-menu" class="side-menu list-unstyled">                  
            <li><a href="/"> <i class="icon-home"></i>Home                             </a></li>
            <li><a href="#formsDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-form"></i>自動化測試項目</a>
              <ul id="formsDropdown" class="collapse list-unstyled ">
                <li><a href="#">彩金</a></li>
                <li><a href="#">會員相關</a></li>
                <li><a href="#">Autocomplete</a></li>
                <li><a href="#">Files upload</a></li>
                <li><a href="#">Text editor</a></li>
                <li><a href="#">Validation</a></li>
              </ul>
            </li>
            <li><a href="#chartsDropdown" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-bar-chart"></i>統計圖表 </a>
              <ul id="chartsDropdown" class="collapse list-unstyled ">
                <li><a href="charts.html">Charts</a></li>
                <li><a href="charts-gauge-sparkline.html">Gauge + Sparkline</a></li>
              </ul>
            </li>
            <li><a href="#tablesDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-grid"></i>Tables </a>
              <ul id="tablesDropdown" class="collapse list-unstyled ">
                <li><a href="tables.html">Bootstrap tables</a></li>
                <li><a href="tables-datatable.html">Datatable</a></li>
              </ul>
            </li>
            <li><a href="#componentsDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-page"></i>Components </a>
              <ul id="componentsDropdown" class="collapse list-unstyled ">
                <li><a href="components-cards.html">Cards</a></li>
                <li><a href="components-calendar.html">Calendar</a></li>
                <li><a href="components-gallery.html">Gallery</a></li>
                <li><a href="components-loading-buttons.html">Loading buttons</a></li>
                <li><a href="components-map.html">Maps</a></li>
                <li><a href="components-notifications.html">Notifications</a></li>
                <li><a href="components-preloader.html">Preloaders</a></li>
              </ul>
            </li>
            <li><a href="#pagesDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Pages </a>
              <ul id="pagesDropdown" class="collapse list-unstyled ">
                <li><a href="pages-contacts.html">Contacts</a></li>
                <li><a href="pages-invoice.html">Invoice</a></li>
                <li><a href="login.html">Login page</a></li>
                <li><a href="login-2.html">Login v.2 <span class="badge badge-info">New</span></a></li>
                <li><a href="pages-profile.html">Profile</a></li>
                <li><a href="pages-pricing.html">Pricing table</a></li>
              </ul>
            </li>
            <li> <a href="#"> <i class="icon-mail"></i>Demo
                <div class="badge badge-warning">6 New</div></a></li>
          </ul>
        </div>
        <div class="admin-menu">
          <h5 class="sidenav-heading">Second menu</h5>
          <ul id="side-admin-menu" class="side-menu list-unstyled"> 
            <li> <a href="#"> <i class="icon-screen"> </i>Demo</a></li>
            <li> <a href="#"> <i class="icon-flask"> </i>Demo
                <div class="badge badge-info">Special</div></a></li>
            <li> <a href="/"> <i class="icon-flask"> </i>Demo</a></li>
            <li> <a href="/"> <i class="icon-picture"> </i>Demo</a></li>
          </ul>
        </div>
      </div>
    </nav>