{% load static %}
    <!-- JavaScript files-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/grasp_mobile_progress_circle-1.0.0.min.js' %}"></script>
    <script src="{% static 'vendor/jquery.cookie/jquery.cookie.' %}"> </script>
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static 'vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/charts-home.js' %}"></script>
    <!-- Notifications-->
    <script src="{% static 'vendor/messenger-hubspot/build/js/messenger.min.js' %}">   </script>
    <script src="{% static 'vendor/messenger-hubspot/build/js/messenger-theme-flat.js' %}">       </script>
    <script src="{% static 'js/home-premium.js' %}"> </script>
    <!-- Main File-->
    <script src="{% static 'js/front.js' %}"></script>